@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 7px;
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(164, 192, 255); 
  border-radius: 10px;
}